{{! Template

<li class="drawer-list-item">
  <a href="/about/" title="About Josh Kerr">
    About
  </a>
</li>

}}

<li class="drawer-list-item">
  <a href="/">
    <i class="fa fa-home fa-lg fa-fw"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss fa-lg fa-fw"></i>Subscribe to Feed
  </a>
</li>
